set autoindent
set tabsize 4
set linenumbers
set constantshow
set locking
set titlecolor white,black
set statuscolor lightblue,black
set errorcolor bold,lightwhite,red
set selectedcolor lightwhite,lightmagenta
set numbercolor lightblack
set keycolor white
set functioncolor lightblue
set nohelp
set multibuffer
bind ^c copy main
bind ^v paste main
bind ^z undo main
