set autoindent
set tabsize 4
set linenumbers
set constantshow
set indicator
set locking
set titlecolor white,black
set statuscolor lightblue,black
set errorcolor bold,lightwhite,red
set selectedcolor lightwhite,lightmagenta
set numbercolor lightblack
set keycolor white
set functioncolor lightblue
