set autoindent
set tabsize 4
set linenumbers
set constantshow
set locking
set titlecolor lightblue,black
set statuscolor lightblue
set errorcolor bold,lightwhite,red
set selectedcolor lightwhite,magenta
set numbercolor lightblack
set keycolor white
set functioncolor lightblue
set nohelp
set multibuffer
bind ^c copy main
bind ^v paste main
bind ^z undo main
